<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

        {% include "cabecera.html" %}

        <h1>Mi lista de tareas</h1>

        <ol>
            {% for tarea in listado %}
                {% if tarea != 'Aprender Django' %}

                    <li> {{tarea|upper}}</li>
                
                {% else %}

                    <li style="color: red; font-size: 25px;"> {{tarea}}</li>
                
                {% endif %}
            {% endfor %}

        </ol>
    </body>
</html>